body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 242, 225);
}


aside {
    color: white;
    background-color: rgb(17, 17, 17);
}

.navbar {
    display: flex;
    justify-content: space-around;
}


.navbar a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 80px;
    line-height: 80%;
}

